body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.calendar-title {
    text-align: center;
    margin-bottom: 20px;
}

.centered-text {
    text-align: center;
    color: #666;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 15px;
}

.month {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.month:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    margin: 5px 0;
}

/* Different colors for each month */
.january {
    background-color: #92B0AE; /* Blue-ish color for January */
}

.february {
    background-color: #B43A70; /* Pink-ish color for February */
}

.march {
    background-color: #79C3A7; /* Green-ish color for March */
}

.april {
    background-color: #EFA00B; /* Yellow-ish color for April */
}

.may {
    background-color: #D97A65; /* Orange-ish color for May */
}

.june {
    background-color: #A2C4C9; /* Lighter color for June */
}

.july {
    background-color: #E20049; /* Magenta-ish color for July */
}

.august {
    background-color: #FFE156; /* Light Yellow color for August */
}

.september {
    background-color: #4F80A1; /* Lighter color for September */
}

.october {
    background-color: #5C9C6D; /* Teal-ish color for October */
}

.november {
    background-color: #9A999C; /* Silver-ish color for November */
}

.december {
    background-color: #D88C3A; /* Brown-ish color for December */
}